@import '../../style.scss'; // Корневые стили

.product {
    margin-top: 64px;
    .product__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        color: $black;
    }
    .product__link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $black;
    }
    // Медиа запросы
    @media screen and (max-width: 768px) {
        .product__title {
            text-align: center;
        }
    }
    @media screen and (max-width: 425px) {
        .product__title {
            text-align: center;
            font-size: 36px;
        }
        .product__wrapper {
            .product__item {
                .product__img {
                    width: 100%;
                }
            }
        }
    }
}