@import '../../style.scss'; // Стили

.header {
    background-image: url('../../servises/bg_header.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100vh;
    .container {
        .header__navbar {
            padding: 16px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.8);
            .header__logo {
                font-family: 'Montserrat';
                text-decoration: none;
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 44px;
                color: $white;
                @media screen and (max-width: 500px) {
                  font-size: 24px;  
                }
            }
            .header__search {
                margin: 0 10px;
                padding-left: 32px;
                width: 288px;
                height: 41px;
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: $white;
                background-color: inherit;
                border: 1px solid $white;
                border-radius: 20px;
                outline:none;
            }
            ::-webkit-input-placeholder {color:$white;}
            ::-moz-placeholder          {color:$white;}/* Firefox 19+ */
            :-moz-placeholder           {color:$white;}/* Firefox 18- */
            :-ms-input-placeholder      {color:$white;}
            .nav {
                width: 170px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                a {
                    color: $white;
                    text-decoration: none;
                } 
            }
            .nav__adaptiv {
                display: none;
            }
            @media screen and (max-width: 768px) {
                position: relative;
                border: none;
                .header__search {
                    max-width: 170px;
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    right: -12px;
                    top: 60px;
                    transition: 0.2s ease-in-out;
                }
                .show {
                    opacity: 1;
                    visibility: visible; 
                }
                .nav {
                    display: none;
                }
                .nav__adaptiv {
                    width: 120px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .catalog__adaptiv {
                        width: 19px;
                        height: 19px;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        .dut {
                            width: 5px;
                            height: 5px;
                            background-color: $white
                        }
                    }
                }
                
            }
        }
        .header__main {
            margin-top: 63px;
            .header__slogan {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 64px;
                line-height: 70px;
                color: $white;
                
            }
            .header__subslogan {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 32px;
                color: $white;
            }
            .header__link-catalog {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
            }
            // Блок медиа-запросов
            @media screen and (max-width: 768px) {
                text-align: center;
            }
            @media screen and (max-width: 500px) {
                .header__slogan {
                    font-size: 48px; 
                }
            }
            @media screen and (max-width: 375px) {
                .header__slogan {
                    font-size: 36px; 
                }
            }
        }
    } 
};
